uk:
  gov:
    companieshouse:
      certificates:
        orders:
          api:
            certificates: /orderable/certificates
            initial: /orderable/certificates/initial
            health: /healthcheck

spring:
  config:
    import: "classpath:cost.yaml"
  data:
    mongodb:
      uri: ${MONGODB_URL}
      field-naming-strategy: uk.gov.companieshouse.certificates.orders.api.model.NoIsSnakeCaseFieldNamingStrategy

lp:
  certificate:
    orders:
      enabled: ${DYNAMIC_LP_CERTIFICATE_ORDERS_ENABLED}

llp:
  certificate:
    orders:
      enabled: ${DYNAMIC_LLP_CERTIFICATE_ORDERS_ENABLED}

liquidated:
  company:
    certificate:
      enabled: ${LIQUIDATED_COMPANY_CERTIFICATES_ENABLED}

administrator:
  company:
    certificate:
      enabled: ${ADMINISTRATOR_COMPANY_CERTIFICATES_ENABLED}

server:
  error:
    include-message: always
    include-binding-errors: always
